<h1>{{title}}</h1>
<h3>Welcome to a list of amazing US Cities</h3>
<table>
    <tr>
        <th>City</th>
        <th>State</th>
        <th>Population</th>
    </tr>
    {{#each cities}}
    <tr>
        <td>{{name}}</td>
        <td>{{state}}</td>
        <td>{{population}}</td>
    </tr>
    {{/each }}
</table>
