<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/" method="POST">
    <div>
        <label for="pet">Please input a pet name:</label>
        <input id="pet" name="pet" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>

</form>
