<div>
    <span><a href="/users/profile">Profile</a> |</span>
    <span><a href="/posts">Posts</a></span>
    <hr>
</div>
<h1>Username: {{username}}</h1>
<h3>First Name: {{firstname}}</h3>
<h3>Last Name: {{lastname}}</h3>
<h3>Email: {{email}}</h3>
