<h1>{{flower}} Already Present!</h1>

<div>
    <h3>"We already have {{flower}}, no need to add it"</h3>
</div>
{{!-- you must first create a GET route in /routes/index for this to work  --}}
<a href="/flowerList">Visit the garden</a>
<a href="/">Plant another plant</a>