<h1>Flower Already Present!</h1>

<div>
    <h3>Sorry, we already have a {{flower}} in this garden</h3>
</div>
<form action="/flowerList" method="GET">
    <div>
        <button type="submit">View Garden</button>
    </div>

</form>