<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/" method="POST">
    <div>
        <label for="flower">Please enter a flower to plant:</label>
        <input id="flower" name="flower"/>
    </div>
    <div>
        <button type="submit">Plant it!</button>
    </div>

</form>
