<h1>The {{storySection.storyPart}}!</h1>

<p>Once upon a time, there was a {{storySection.animal}} named {{storySection.name}}. He was only {{storySection.age}} years old, but he loved to travel</p>

<a href="/middle">Next</a>