<h1>The {{storySection.storyPart}}!</h1>

<p>After a while, Rupert met a beautiful fox named {{storySection.foxWife}}. They fell deeply in love and lived in a house next to the {{storySection.housing}}. They lived there happily ever after. The end.</p>

<a href="/middle">Back</a> <a href="/beginning" >Home</a>