<h1>The {{storySection.storyPart}}!</h1>

<p>One day, Rupert decided to visit {{storySection.place}}. So, he hopped on a {{storySection.travelVehicle}} to get there. Once he got there, he decided to stay for at least {{storySection.yearsToStay}} years.</p>

<a href="/beginning">Back</a> <a href="/end" >Next</a>